@{
    ViewBag.Title = "Реєстрація пройшла успішно";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Вихід", "Logout", "Account")<br />
<h2>Реєстрація на сайті пройшла успішно!</h2>
<p>
    Тепер ви можете виконати @Html.ActionLink("вхід на сайт", "Index", "Home")
</p>
